*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background: hsl(195, 3%, 29%);
  font-size: 22px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  color: hsl(194, 28%, 91%);
}
a
{
  text-decoration: none;
  color: hsl(194, 28%, 91%);
}
a:hover
{
  color: hsla(194, 28%, 91%, .7);
  text-decoration-line: underline;
}